<h3>New skill</h3>

<form>
    <div class="form-group">
        <label for="skillNameInput">Name</label>
        <input type="text"
               class="form-control"
               id="skillNameInput"
               placeholder="name"
               required
               [(ngModel)]="skill.name">
    </div>
    <div class="form-group">
        <label for="skillDescriptionInput">Description</label>
        <textarea class="form-control"
                  id="skillDescriptionInput"
                  placeholder="description"
                  required
                  [(ngModel)]="skill.description">
        </textarea>
    </div>
</form>
<button class="btn btn-danger"
        type="submit"
        (click)="cancel()">
    Cancel
</button>
<button class="btn btn-primary"
        type="submit"
        (click)="save()">
    Save
</button>
